<h1>Add <%= title %></h1>
<h2>Welcome to add <%= title %> page</h2>
<p>To add coupon click <a href="add/addcoupon">here</a></p>
<p>To upload coupon image click <a href="add/uploadcouponimage">here</a></p>
<p>To edit coupon click <a href="add/editcoupon">here</a></p>
