<h1>Get <%= title %></h1>
<h2>Welcome to get coupon to your mail <%= title %> page</h2>
<form action = "<%= action %>" method ="post" />
    Type email address and submit: <input type ="text" name ="email" id = "email" placeholder="Enter your email address" required autofocus/>
    </br>
    <input type = "submit" >
    </form>
