<h1>Get <%= title %></h1>
<h2>Welcome to get specific <%= title %> page</h2>
<form action = "<%= action %>" method ="get" />
    Coupon id: <input type ="text" name ="id" placeholder="Enter coupon id" value = "<%= item.id %>" required autofocus/>
    </br>
    <input type = "submit" >
    </form>
